<extend name="Public/base"/>

<block name="body">
<div class="main-title">
		<h2>{$meta_title}[ <strong>全部数量</strong>{$count}]</h2>
	</div>
		
<!-- 按钮工具栏 -->
	<div class="cf">
		<div class="fl">
		<!-- <a class="btn" href="{:U('add?status='.$status)}">新 增</a> -->
		<!-- <button class="btn ajax-post confirm" url="{:U('del')}" target-form="ids">删 除</button> -->
		
		<a class="btn" href="{:U('showAuditingReplace')}">待审核</a>
		<a class="btn" href="{:U('showAuditedReplace')}">已审核</a>
		
		</div>
	</div>

	<div class="data-table table-striped">
		 <table>
			<thead>
				<tr>
					<th>用户</th>
					<th>商品</th>
                    <th>商品图片</th>
                    <th>收货信息</th>
					<th>发货信息</th>
					<th>申请人</th>
					<th>申请时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<notempty name="list">
				<volist name="list" id="vo">
					<tr>
						<td>
							<ul>
								<li>ID：{$vo.uid}</li>
								<li>用户名：{$vo.user_name}</li>
								<li>昵称：{$vo.nickname}</li>
							</ul>
						</td>
						<td>
							(期号：{$vo.lottery_id}) &nbsp;&nbsp; {$vo.title}
						</td>
						<td>
							<img src="{$vo.thumbnail}" />
						</td>
						<td>
							<ul>
								<li>{$vo.realname} &nbsp;&nbsp; {$vo.cellphone}</li>
								<li>{$vo.take_address}</li>
							</ul>
						</td>
						<td>
							<ul>
								<li>快递公司：{$vo.express_name}</li>
								<li>运单号：{$vo.express_number}</li>
								<li>{$vo.deliver_name}</li>
								<li>{$vo.deliver_phone}</li>
								<li>{$vo.deliver_address}</li>
							</ul>
						</td>
						<td>{$vo.apply_name}</td>
						<td>{$vo.apply_time}</td>
					<td> 
						<a title="编辑" href="{:U('updateAuditingReplace?id='.$vo['id'])}">编辑</a>
						<a title="通过" href="{:U('auditReplace?id='.$vo['id'].'&action=1&lottery_id='.$vo['lottery_id'])}">通过</a>
						<a title="拒绝" href="{:U('deliver?id='.$vo['id'].'&action=3&lottery_id='.$vo['lottery_id'])}">拒绝</a>
                    </td>
					</tr>
				</volist>
				</notempty>
			</tbody>
		</table>
       
        <!-- 分页 -->
        <div class="page">
			{$page}
        </div>
	</div>
</block>

<block name="script">
 <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" status="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" status="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" status="text/css">
<script status="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script status="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script status="text/javascript">
   //导航高亮
     highlight_subnav('{:U('index')}');
            
    </script>
</block>