<extend name="Public/base"/>

<block name="body">
<div class="main-title">
		<h2>{$meta_title}[ <strong>全部数量</strong>{$count}]</h2>
	</div>
		
<!-- 按钮工具栏 -->
	<div class="cf">
		<div class="fl">
		<!-- <a class="btn" href="{:U('add?status='.$status)}">新 增</a> -->
		<!-- <button class="btn ajax-post confirm" url="{:U('del')}" target-form="ids">删 除</button> -->
		
		<a class="btn" href="{:U('index')}">待审核</a>
		<a class="btn" href="{:U('showAuditedComment')}">已审核</a>
		
		<button class="btn ajax-post confirm" url="{:U('auditCommentAgree')}" target-form="ids">批量通过</button>
		<button class="btn ajax-post confirm" url="{:U('auditCommentReject')}" target-form="ids">批量拒绝</button>
		</div>
	</div>

	<div class="data-table table-striped">
		 <table>
			<thead>
				<tr>
					<th class="row-selected">
					 <input class="checkbox check-all" type="checkbox">
					</th>
					<th>编号</th>
					<th>用户</th>
                    <th>商品名称</th>
                    <th>评论内容</th>
					<th>申请时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<notempty name="list">
				<volist name="list" id="vo">
					<tr>
						<td><input class="ids row-selected" type="checkbox" name="id[]" value="{$vo.id}"></td>
						<td>{$vo.id}</td>
						<td>
							<ul>
								<li>ID：{$vo.uid}</li>
								<li>用户名：{$vo.mobile}</li>
								<li>昵称：{$vo.nickname}</li>
							</ul>
						</td>
						<td>
							<ul>
								<li>（期号：{$vo.lottery_id}）</li>
								<li>{$vo.title}</li>
							</ul>
						</td>
						<td>{$vo.content}</td>
						<td>{$vo.apply_time}</td>
					<td> 
						<a class="ajax-get confirm" url="{:U('auditCommentAgree?id='.$vo['id'])}" >通过</a>
						<a class="ajax-get confirm" url="{:U('auditCommentReject?id='.$vo['id'])}" >拒绝</a>
                    </td>
					</tr>
				</volist>
				</notempty>
			</tbody>
		</table>
       
        <!-- 分页 -->
        <div class="page">
			{$page}
        </div>
	</div>
</block>

<block name="script">
 <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" status="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" status="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" status="text/css">
<script status="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script status="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script status="text/javascript">
   //导航高亮
     highlight_subnav('{:U('index')}');
            
    </script>
</block>